%img(src="http://imageshack.com/a/img908/737/b2FIm8.png" align="center" height="100" widith="100")

%h1(align="center") Editar Artigo

= render 'form'

%br

= link_to "Voltar", root_path
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%img(src="http://imageshack.com/a/img903/3310/RYTmT8.png" align="left")

