/%img(src="http://imageshack.com/a/img908/2835/M5lwNo.png" align="center" height="100" widith="100")
/%p(class="navbar-text")
/	Signed in as Mark Otto

%body(bgcolor="#FFFFFF")
/%h2(align ="center") Edifício Vila Boa

%br


- if usuario_signed_in?
	%p(align="right")
		Usuário:
		= current_usuario.email
	%b
		
		%p(align="right")
			=link_to('Sair', destroy_usuario_session_path, :method => :delete)

		%br

		
 
- else
	%b
		%blockquote
			%p(align="center")
				=link_to('Entrar', new_usuario_session_path)
			
		%br

- if usuario_signed_in?

	#artigos
		- @artigos.each do |artigo|
			.artigo
				%blockquote
					%h2.title
						= link_to artigo.Título, artigo
				%blockquote
					%p.date
						= truncate(artigo.Conteúdo, length: 140)
				%blockquote
					%p.date(align="right")
						Publicado em 
						= artigo.created_at.strftime('%d %b de %Y')
						por
						=artigo.usuario.email
- if usuario_signed_in?
	%b
		%p(align="center")
			=link_to "Clique aqui para adicionar um novo Tópico", new_artigo_path
	%br		





%br
%br
%hr(bgcolor="#00000A")
%br
%b
	%blockquote
		%p(align="center")
			=link_to "Sobre o Site", "sobre"



/%img(src="https://imageshack.com/i/p81OaqRyp" align="left")